* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Lato", sans-serif;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #77b1a9;
    color: white;
}

a {
    text-decoration: none;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 80%;
}

.header {
    margin: 60px 0 0 0;
}

.header-text {
    font-weight: 200;
}

.search-box {
    margin: 30px 0 0 0;
    position: relative;
    left: 10px;
}

.search-bar {
    height: 30px;
    width: 80px;
    font-size: 14px;
    color: gray;
    transition: width 1s;
}

.search-bar:focus {
    height: 30px;
    width: 200px;
}

.search-icon {
    position: relative;
    right: 25px;
    top: 1px;
}

.random {
    margin: 20px 0 0 0;
}

.random-link {
    text-decoration: none;
    color: #272822;
}


/* Wiki Search Results Section */
.search-results {
    width: 80%;
    margin: 40px 0 0 0;
    display: none;
}

.search-results li {
    margin: 20px 10px;
    list-style: none;
    background-color: #e6e6e6;
    color: black;
}

.search-results li:hover {
    border-left: 4px solid #236B8E;
}

.results-container {
    padding: 10px 30px;
}

.page-title {
    margin: 0 0 10px 0;
}